@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', sans-serif;
    --fonte03: 'Sriracha', cursive;
    --cor01: #000000;
    --cor02: #ffffff;
    --cor03: rgba(0,0,0,0.5)
}

dark-mode:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', sans-serif;
    --fonte03: 'Sriracha', cursive;
    --cor01: #000000;
    --cor02: #444444;
    --cor03: rgba(0,0,0,0.5)
}


* {
    padding: 0px;
    margin: 0px;
}

 header {
    font-family: var(--fonte02);
    margin: auto;
    text-align: center;
    background-color: var(--cor01);
    color: var(--cor02);
    padding: 80px;
    font-size: 2.5em;
 }

 header p {
    font-family: var(--fonte01);
    font-size: 0.5em;
 }

 header p a {
    color: var(--cor02);
    text-decoration: none;
 }

 header p a:hover {
    color: var(--cor02);
    text-decoration: underline;
 }

.semfundo {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 20px;
    font-family: var(--fonte03);
    font-size: 2em;
}

.parte02 {
    background-image: url(./images/background001.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding: 60px 0px 60px 0px;
}

.parte02 p{
    margin-left: 20px;
    font-family: var(--fonte03);
    color: var(--cor02);
    font-size: 2em;
    background-color: var(--cor03);
    width: 400px;

}

.parte04 {
    background-image: url(./images/background002.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding: 60px 0px 60px 0px;
}

.parte04 p{
    margin-left: 20px;
    font-family: var(--fonte03);
    color: var(--cor02);
    font-size: 2em;
    background-color: var(--cor03);
    width: 400px;

}

footer {
    text-align: center;
    padding: 15px;
    background-color: var(--cor01);
    color: var(--cor02);
    font-family: var(--fonte01);
}

footer a {
    font-family: var(--fonte01);
    color: var(--cor02);
    text-decoration: none;
}

footer a:hover {
    font-family: var(--fonte01);
    color: var(--cor02);
    text-decoration: underline;
}
